.player {
  background-color: var(--purple);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: calc(0.75rem);

  max-width: fit-content;
  height: 100%;
}

.player.default {
  padding: 2.4rem;
}

.player.small {
  padding: 1.8rem;
}

.player.default > header {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 14rem;

  gap: 1.8rem;
}

.player.small > header {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.8rem;
}

.player > header img {
  object-fit: cover;
  border-radius: 0.5rem;
}

.player.small > header img {
  width: 5rem;
}

.player > header div {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  width: 14rem;
}

.player > header h1 {
  font-size: 1.5rem;
  max-width: 100%;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  overflow: hidden;
  text-overflow: ellipsis;
}

.player > header p {
  font-size: 1.25rem;
  opacity: 0.7;
}

.player > footer {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.controls {
  display: flex;
  justify-content: center;

  gap: 3.125rem;

  margin-top: 1.8rem;
}

.player > footer.timer {
  display: flex;
  flex-direction: column;

  gap: 0.6rem;

  margin-top: 1.8rem;
}

.player > footer.timerHidden {
  max-height: 0;
  visibility: hidden;
}

.player > footer .slider {
  width: 100%;
  height: 0.4rem;
  position: relative;
}

.player > footer .slider div:first-child {
  height: 100%;

  background-color: var(--gray);
  border-radius: 0.2rem;

  opacity: 0.2;
}

.player > footer .slider div:last-child {
  position: absolute;
  top: 0;

  width: 80%;
  height: 100%;

  background-color: var(--gray);
  border-radius: 0.2rem;
}

.player > footer .times {
  display: flex;
  justify-content: space-between;

  opacity: 0.7;
}
